<div class="text-center">
  <h1>New Cocktail</h1>
  <p>-------------</p>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= simple_form_for @cocktail do |f| %>
          <%= f.error_notification %>
          <%= f.input :name %>
          <%= f.submit "Post", class: "btn btn-primary" %>
        <% end %>
<!--         <ul>
          <%#= render @doses %>
        </ul>
        <section>
          <%#= render 'shared/dose_form' %>
        </section>
 -->        <%= link_to("Back to Cocktail List", cocktails_path) %>
      </div>
    </div>
  </div>
</div>
